<section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>About</h2>
        <p>I'm an Information Technology professional with a portfolio of software development projects and expertise in database structures, data analysis, report development and data mining. I'm a technology enthusiast with an aptitude for innovation and solutions development.</p>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <img src="/Assets/images/about.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
          <h3>Software Engineer</h3>
          <p class="fst-italic">
           5+ years of professional experience in fields of software engineering and data science
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>Name:</strong> Kevin Dalling</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 1 August 1993</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> https://kevindalling.azurewebsites.net</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> +647 459 2908</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> Toronto, Canada</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 29</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Bsc. Computing (First Class Honours) </li>
                <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> kevindalling@hotmail.com</li>
                <li><i class="bi bi-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>
            Skilled with C#, JavaScript, Java, J2EE, Oracle, MS-SQL Server, MongoDB, Unix/Linux, HTML/XML, Node.js, React.js. For more details,<a href="/Assets/documents/resume.pdf"> click here to view resume.</a>
          </p>
        </div>
      </div>

    </div>
  </section>