<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kevin Dalling - <%= title %></title>
  <!-- CSS section -->
  <link rel='stylesheet' href='/Content/bootstrap.min.css' />
  <link rel='stylesheet' href='/Content/bootstrap-icons.css' />
  <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />

  <link rel='stylesheet' href='/Content/app.css' />
  <link href="/Content/boxicons/css/boxicons.min.css" rel="stylesheet"/>
  <link href="/Content/glightbox.min.css" rel="stylesheet"/>
  <link href="/Content/swiper-bundle.min.css" rel="stylesheet"/>

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

</head>
<body>