
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <h1>Welcome to my Portfolio Website!</h1>
      <h2>I'm seeking to advance my career in software engineering in a creative and research oriented environment </h2>
      <a href="/about" class="btn-about">About Me</a>
    </div>
  </section>

