<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Projects</h2>
        <p>Extensive portfolio of software development projects, with demonstrated competencies in database structures, data analysis, report development and data mining</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            <li data-filter=".filter-app">Web</li>
            <li data-filter=".filter-card">Mobile</li>
            <li data-filter=".filter-web">Desktop</li>
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="Assets/images/Savvy Wellness.PNG" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Savvy Wellness</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="Assets/images/Savvy Wellness.PNG" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Participated as back-end developer in the creation of the Savvy Wellness Web Application which provides premium reporting services by analysing health card data."><i class="bx bx-plus"></i></a>
                <a href="#" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="Assets/images/jutc.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Transit App</h4>
              <p>Mobile</p>
              <div class="portfolio-links">
                <a href="Assets/images/jutc_old.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Designed and developed Jamaica Urban Transit App that allow persons to find out when their next bus is scheduled to arrive.
                "><i class="bx bx-plus"></i></a>
                <a href="#" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
          <div class="portfolio-wrap">
            <img src="Assets/images/utech.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>The Career & Job Placement Management System</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="Assets/images/utech.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Performed as Lead Developer of The Career & Job Placement Management System that manages all of the administrative processes necessary for hosting a successful Career & Job Placement Fair."><i class="bx bx-plus"></i></a>
                <a href="#" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
          <div class="portfolio-wrap">
            <img src="Assets/images/groupies.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Groupies</h4>
              <p>Desktop</p>
              <div class="portfolio-links">
                <a href="Assets/images/groupies.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Created instant messaging platform that allows users to send and receive messages over the network."><i class="bx bx-plus"></i></a>
                <a href="#" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
          <div class="portfolio-wrap">
            <img src="Assets/images/dashboard.png" class="img-fluid" alt="">
            <div class="portfolio-info">
              <h4>Executive Dashboard</h4>
              <p>Web</p>
              <div class="portfolio-links">
                <a href="Assets/images/dashboard_old.png" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Developed Executive dashboard that improved operational efficiency by monitoring KPIs and metrics tied to business objectives."><i class="bx bx-plus"></i></a>
                <a href="#" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </section>